td {
  padding-left: 0;
}

// STANDINGS
#standings_head {
}
.standings {
  background-color: #222222;
  color: white;
  padding: 5px 0 10px 0;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.standings_table {
  border-spacing: 0;
  padding-bottom: 15px;

  tbody {
    border: none;
  }
}
.standings_table td {
  padding-bottom: 5px;
}

.standings_table tr:nth-child(odd)  {
  background-color: #191A1A;
}
.standings_table tr:nth-child(even)  {
  background-color: #0c0d0d;

}
.standings_table tr.standings_header  {
  background-color: #191A1A;
}
.standings_header {
  border-bottom: 1px solid #4d4d4d;

}
.standings_header td {
  padding-bottom: 5px;
  padding-top: 15px;
}
.users {
  padding-bottom: 20px;
}
.name {
  padding-left: 10px;
  padding-right: 0px;
  text-align: left;

}
.name a {
  color: white;
}
.name a:hover {
  color: gray;
}
.cash_head, .cash {
  text-align: right;
  padding-right: 15px;
}
.cash_plus, .cash_minus {
  text-align: right;
  padding-right: 15px;
}
.cash_plus {
  color: green;
  font-weight: bold;
}
.cash_minus {
  color: red;
}
.wins, .losses {
}
.wins, .losses, .percent {
  text-align: right;
  padding-right: 10px;
}



// BY THE WEEK
#by_the_week {
  margin-top: 76px;
}
#week_count {
  text-align:left;
  background-color: #222222;
  padding-left:10px;
  padding-top:5px;
  td {
    padding-top: 15px;
  }
}

// PLAYOFFS
#playoff_header {
  font-weight: bold;
  color: green;
  font-size: 1.3em;
}
#playoff_rules  {
  padding: 1em;
  margin-bottom: 2em;
  background-color: #222;
  color: white;
  font-size: 1.2em;
}
#playoff_rules li.no_bullet {
  list-style-type: none;
}
.tiny {
  font-size: .8em;
  text-align: right;
}




